{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-7 px-0">
            <h1 class="display-4 font-italic">Welcome to FlaskWrite</h1>
            <br>
            <p class="lead my-3">FlaskWrite is a social network for people to write, share, or read any
            form of written content.</p>
            <p class="lead my-3">Display your writing talent to the world via blog articles, interact with other users or content
            creators, or read up on your favorite hobbies and topics.
            <p class="lead my-3">Share with others the news stories, articles, or guides that you
            find inspiring, creative, or informative.</p>
        </div>
    </div>
{% endblock %}
